<div id="sign-in-background">
  <form class="user-form" action="/sessions" method="post">
    <input class="user-field" type="text" name="username">
    <input class="user-field"type="password" name="password">
    <input type="submit" value="Sign In">
  </form>

  <%= flash[:error] %>
</div>
