<div class="background-set-up" id="sign-in-background">
  <div class="overlay">
    <form class="user-form" action="/sessions" method="post">
      <input class="user-field" type="text" name="username">
      <input class="user-field"type="password" name="password">
      <input type="submit" value="let's go">
    </form>

    <%= flash[:error] %>
  </div>
</div>
