<h1>Spaces</h1>

<input id="max-price" type="text", placeholder="enter max price" />
<button class="filter-button" type="button">Filter</button>

<div id="item-list">
  <div id="info">
  </div>
</div>
