<div id="spaces-div">
  <h1 id="spaces-title">Spaces</h1>
  <div id="filter-field">
    <input class='filter-box' id="max-price" name="price-filter" type="text", placeholder="enter max price" />
    <input class='filter-box'id="location" name="location-filter" type="text", placeholder="enter location" />
    <button class="filter-button" type="button">Filter</button>
  </div>
  <div id="item-list">
    <div id="info">
    </div>
  </div>
</div>

<script type="text/javascript" src="/lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/script.js"></script>
