<h1>Spaces</h1>

<input id="max-price" name="price-filter" type="text", placeholder="enter max price" />
<input id="location" name="location-filter" type="text", placeholder="enter location" />
<button class="filter-button" type="button">Filter</button>

<div id="item-list">
  <div id="info">
  </div>
</div>

<script type="text/javascript" src="/lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/script.js"></script>
