<div id="add-space-background">
  <div class="overlay">
    <h1 id="add-space-title">add a space to nightmAirbnb...</h1>
    <form class="user-form" action="/spaces" method="post" enctype="multipart/form-data">
      <input class="user-field" type="text" name="title" placeholder="give your place a title">
      <input class="user-field" type="text" name="description" placeholder="describe it">
      <input class="user-field" type="text" name="price" placeholder="how much a night">
      <input class="user-field" type="text" name="location" placeholder="where are you">
      <input class="user-field" type="text" name="image_url" placeholder="link to a picture">
      <input id="add-space-button" type="submit" value="Add space">
    </form>
  </div>
</div>
