<form class="user-form" action="/spaces" method="post" enctype="multipart/form-data">
  <input class="user-field" type="text" name="title" placeholder="Title">
  <input class="user-field" type="text" name="description" placeholder="Description">
  <input class="user-field" type="text" name="price" placeholder="Price">
  <input class="user-field" type="text" name="location" placeholder="Location">
  <input class="user-field" type="text" name="image_url" placeholder="Image URL">
  <input id="add-space-button" type="submit" value="Add space">
</form>
