  <div class="hello-user-dashboard">Hello, <%=current_user.name%></div>

  <div class="dashboard-page">
  <div class="dashboard-boxes">
    <h2 class="spaces-title">Spaces</h2>
    <div id="spaces">

    </div>
  </div>

  <div class="dashboard-boxes">
    <h2 class="spaces-title">Requests</h2>
    <div id="requests">

    </div>
  </div>

  <div class="dashboard-boxes">
    <h2 class="spaces-title">Bookings</h2>
    <div id="bookings">

    </div>
  </div>
</div>

<script type="text/javascript" src="/lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/DashboardController.js"></script>
