<h1>Hello, <%=current_user.name%></h1>

<div>
  <h2>Spaces</h2>
  <div id="spaces">

  </div>
</div>

<div>
  <h2>Requests</h2>
  <div id="requests">

  </div>
</div>

<div>
  <h2>Bookings</h2>
  <div id="bookings">

  </div>
</div>
