<div id="sign-up-background">
  <div class="overlay">
    <h1 id="sign-up-title">sign up to nightmAirbnb...</h1>
    <form id="sign-up-form" method="post" action="/users">
      <input class="sign-up-field" type="text" name="name" placeholder="tell us your name...">
      <input class="sign-up-field" type="email" name="email" placeholder="and what's your email?">
      <input class="sign-up-field" type="text" name="username" placeholder="what username would you like?">
      <input class="sign-up-field" type="password" name="password" placeholder="now type in a password">
      <input class="sign-up-field" type="password" name="password_confirmation" placeholder="confirm that for us and you're done">
      <input id="sign-up-button" type="submit" value="let's go">
    </form>
  </div>
</div>

<%= flash[:error] %>
