.hidden-button {
  display: none;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

#welcome-message {
  margin-top: 150px;
  font-size: 5em;
  text-align: center;
  color: white;
}

.list-book-buttons {
  margin: auto;
  width: 100%;
}

.index-button {
  background-color: white;
  color: rgb(0, 10, 142);
  border: none;
  border-radius: 0px;
  width: 150px;
  font-size: 2em;
  padding: 15px 30px;
  text-transform: lowercase;
  transition: 0.3s;
}

.index-button:hover {
  background-color: rgb(0, 1, 68);
  color: white;
}

.session-button {
  height: auto;
  display: inline-block;
  float: right;
  margin-right: 15px;
  background-color: white;
  color: rgb(0, 10, 142);
  border: none;
  border-radius: 0px;
  font-size: 1.2em;
  text-transform: lowercase;
  padding: 5px 5px;
  width: 100px;
  transition: 0.3s;
}

.session-button:hover {
  background-color: rgb(0, 1, 68);
  color: white;
}

.nav-bar {
  background-color: rgba(0,0,0,0);
  position: fixed;
  width: 100%;
  padding-top: 15px;
}

#list-link {
  float: left;
  margin-left: 30%;
}

#book-link {
  float: right;
  margin-right: 30%;
}

#index-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/index-background.jpg');
  height: 100%;
  width: 100%;
  display: inline-block;
}

.overlay {
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
  display: inline-block;
}

#goodbye-message {
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  width: 100%;
  margin-bottom: 50px;
}

#sign-in-error {
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  width: 100%;
  margin-bottom: 50px;
}

#sign-up-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/sign-up-background.jpg');
  height: 100%;
  width: 100%;
}

#sign-up-title {
  padding-top: 50px;
  font-size: 5em;
  text-align: center;
  color: white;
}

.user-form {
  text-align: center;
  display: inline-block;
  margin: auto;
  width: 100%;
}

.user-field {
  color: rgb(122, 122, 122);
  font-size: 0.65em;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  margin: 40px auto 40px auto;
  border: 0px;
  font-size: 2em;
  box-shadow: 0px 0px 50px rgb(198, 198, 198);
}

::-webkit-input-placeholder {
  color: rgb(198, 198, 198);
  font-size: 0.65em;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#sign-up-button {
  background-color: white;
  color: rgb(0, 10, 142);
  border: none;
  border-radius: 0px;
  width: 200px;
  font-size: 2em;
  padding: 15px 30px;
  text-transform: lowercase;
  transition: 0.3s;
}

#sign-up-button:hover {
  background-color: rgb(0, 1, 68);
  color: white;
}

#sign-in-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/sign-in-background.jpg');
  height: 100%;
  width: 100%;
  display: inline-block;
}

#sign-in-title {
  padding-top: 50px;
  font-size: 5em;
  text-align: center;
  color: white;
}

#sign-in-button {
  background-color: white;
  color: rgb(0, 10, 142);
  border: none;
  border-radius: 0px;
  width: 200px;
  font-size: 2em;
  padding: 15px 30px;
  text-transform: lowercase;
  transition: 0.3s;
}

#sign-in-button:hover {
  background-color: rgb(0, 1, 68);
  color: white;
}

#add-space-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/add-space-background.jpg');
  height: 100%;
  width: 100%;
  display: inline-block;
}

#add-space-button {
  background-color: white;
  color: rgb(0, 10, 142);
  border: none;
  border-radius: 0px;
  width: 200px;
  font-size: 2em;
  padding: 15px 30px;
  text-transform: lowercase;
  transition: 0.3s;
}

#add-space-button:hover {
  background-color: rgb(0, 1, 68);
  color: white;
}

#add-space-title {
  padding-top: 50px;
  font-size: 5em;
  text-align: center;
  color: white;
}

.spaces-st {
  display: inline-block;
  margin: 30px 150px;
  max-width: 200px;
}

.img-st {
  max-height: 250px;
  float: left;
}

#filter-field {
  margin: 0 0 0 150px;
  width: 80%;
}

#spaces-title {
  text-align: center;
}

.space-description {
  font-style: italic;
}

.space-title {
  font-weight: bold;
  font-size: 1.2em;
}

#spaces-div {
  background-color:#edf1f7 ;
}

.filter-box {
  color: rgb(122, 122, 122);
  font-size: 0.65em;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin: 40px auto 40px auto;
  border: 0px;
  font-size: 1.3em;
  box-shadow: 0px 0px 50px rgb(198, 198, 198);
}

.filter-button {
  background-color:#c8d8f4;
  color: rgb(0, 10, 142);
  border: none;
  border-radius: 0px;
  width: 150px;
  font-size: 1.3em;
  padding: 5px 20px;
  text-transform: lowercase;
  transition: 0.3s;
}

.filter-button:hover {
  background-color: rgb(0, 1, 68);
  color: white;
}

.book-button {
  background-color:#c8d8f4;
  color: rgb(0, 10, 142);
  border: none;
  border-radius: 0px;
  width: 100%;
  font-size: 1.3em;
  padding: 5px 20px;
  transition: 0.3s;
}

.book-button:hover {
  background-color: rgb(0, 1, 68);
  color: white;
}
