<div class="background-set-up" id="index-background">
  <div class="overlay">
    <% if current_user %>
    <h1 id="welcome-message">welcome to nightmAirbnb, <%= current_user.name %></h1>
    <% else %>
    <h1 id="welcome-message">welcome to nightmAirbnb</h1>
    <% end %>
    <p id="goodbye-message"> <%= flash[:goodbye] %></p>
    <div class="list-book-buttons">
      <a id="list-link" href="/spaces/new"><button class="index-button" type="button">List</button></a>
      <a id="book-link" href="/spaces"><button class="index-button" type="button">Book</button></a>
    </div>
  </div>
</div>
